<div class="wrapper">
  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-md navbar-light bg-light nav-white fixed-top">
    <div class="container container-m">
      <a class="navbar-brand" href="#">
        <img id="navbar-logo" class="img-fluid" style="max-width: 160px" src="<%= image_path('ucall_logo_white.png') %>"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#main">Sản phẩm</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Tính năng</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#pricing">Giá</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#reviews">Đánh giá</a></li>
          <li class="nav-item"><a class="btn-cta nav-link js-scroll-trigger" href="<%= @app_link %>">Truy cập hệ thống</a></li>
        </ul>
      </div>
    </div>
  </nav><!-- Navbar End -->


  <div id="main" class="main">
    <div class="hero2">
      <div class="container-m">
        <div class="hero-inner yd_flx2">
          <div class="hero-content flx_1">
            <div class="hero-content-inner">
              <h4>Ucall - Tổng đài tự động sử dụng AI</h4>
              <h2>Chăm sóc khách hàng của bạn 24/7</h2>
              <p>Chúng tôi cung cấp giải pháp giúp bạn có thể quan tâm đến từng khách hàng mọi lúc, mọi nơi.</p>
              <a class="btn-action btn-alt" href="<%= @app_link %>">Truy cập</a>
            </div>
          </div>
          <div class="hero-form flx_2">
            <form id="contactForm" data-toggle="validator" class="shake">
              <div class="row">
                <div class="form-group col-sm-12">
                  <h4 class="font-weight-bold">Trải nghiệm cuộc gọi mẫu</h4>
                  <p class="text-dark">Hãy nhập số điện thoại của bạn và chúng tôi sẽ gọi điện. Cuộc gọi này hoàn toàn miễn phí</p>
                </div>
                <div class="form-group col-sm-12">
                  <label for="name" class="h4">Tên của bạn</label>
                  <input type="text" class="form-control" id="name" placeholder="Tùng" required data-error="Vui lòng nhập tên bạn">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group col-sm-12">
                  <label for="phone" class="h4">Số điện thoại</label>
                  <input type="text" class="form-control" id="phone" placeholder="0967134899" required data-error="Vui lòng nhập số điện thoại">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <button type="submit" id="form-submit" class="btn-action">Gọi điện</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Features Section -->
    <div id="features" class="flex-split">
      <div class="container-s">
        <div class="flex-intro align-center wow fadeIn">
          <h2>Tính năng</h2>
          <p>Chúng tôi thiết kế những công cụ đơn giản, linh hoạt và mạnh mẽ. Bạn có thể dựng tổng đài cho công việc kinh doanh chỉ mất chưa đầy 10 phút.</p>
        </div>
        <div class="flex-inner align-center">
          <div class="f-image wow">
            <img class="img-fluid" src="<%= image_path("screenshot_1.png") %>" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <div class="tld">
                <div class="tld-text">
                  <h6>1</h6>
                </div>
              </div>
              <h2>Tổng đài thông minh</h2>
              <p>Một tổng đài viên thực thụ. Sẵn sàng trả lời mọi câu hỏi của khách hàng</p>
              <a href="#">Tìm hiểu công nghệ</a>
            </div>
          </div>
        </div>

        <div class="flex-inner flex-inverted align-center">
          <div class="f-image f-image-inverted">
            <img class="img-fluid" src="<%= image_path("screenshot_2.png") %>" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <div class="tld tld2">
                <div class="tld-text">
                  <h6>2</h6>
                </div>
              </div>
              <h2>Cuộc gọi Marketing / Cuộc gọi tự động</h2>
              <p>Tiếp cận khách hàng của bạn không giới hạn, linh hoạt theo n tình huống</p>
              <a href="#">Khám phá các tình huống</a>
            </div>
          </div>
        </div>

        <div class="flex-inner align-center">
          <div class="f-image wow">
            <img class="img-fluid" src="<%= image_path("screenshot_3.png") %>" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <div class="tld">
                <div class="tld-text">
                  <h6>3</h6>
                </div>
              </div>
              <h2>Tích hợp CRM</h2>
              <p>Sẵn sàng với các nền tảng CRM nổi tiếng như Salesforce, Base</p>
              <a href="#">Tài liệu thích hợp</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- YD Custom Feature Section -->
    <div class="yd_ft_cst ft_cst2">
      <div class="container">
        <div class="row">
          <div class="flex-inner">
            <div class="f-image">
              <img class="img-fluid" src="<%= image_path("magnet-me-315vPGsAFUk-unsplash.jpg") %>" alt="Feature">
            </div>
            <div class="f-text">
              <div class="split_text">
                <div class="split_text_inner">
                  <h4>Tối ưu chi phí</h4>
                  <h2>Tiết kiệm 70% chi phí chăm sóc khách hàng</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- YD Flex Single Feature Section -->
    <div class="ft_single">
      <div class="container">
        <div class="yd_flex">
          <div class="yd_flex_1">
            <div class="flex_content">
              <h2>Ứng dụng</h2>
              <p>Với công cụ xây dựng kịch bản thông minh, nền tảng uCall sẵn sàng cho mọi tình huống đa dạng nhất của khách hàng</p>
              <a class="btn-action btn-alt" href="#">Tìm hiểu</a>
            </div>
          </div>
          <div class="yd_flex_2">
            <div class="flex_main">
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("c.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Tài chính</h4>
                  <p class="d-none d-md-block">Gọi điện nhắc nợ tín dụng cho khách hàng</p>
                </div>
              </div>
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("b.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Giáo dục</h4>
                  <p class="d-none d-md-block">Tổng đài giải đáp thắc mắc tự động cho phụ huynh</p>
                </div>
              </div>
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("g.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Logistic</h4>
                  <p class="d-none d-md-block">Gọi điện xác nhận đơn hàng, giờ giao hàng,...</p>
                </div>
              </div>
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("e.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Marketing</h4>
                  <p class="d-none d-md-block">Gọi điện tiếp thị sản phẩm</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- YD Custom Feature Section -->
    <div class="yd_ft_cst">
      <div class="container">
        <div class="row">
          <div class="flex-inner">
            <div class="f-text">
              <div class="split_text">
                <div class="split_text_inner">
                  <h4>Công nghệ lõi</h4>
                  <h2>AI as a Service</h2>
                  <p>Chúng tôi lấy công nghệ AI làm trọng tâm của sản phẩm, kết hợp với nền tảng Web đem đến một ứng dụng tiếp cận dễ dàng nhất với khách hàng
                  </p>
                  <ul>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tổng hợp giọng nói</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Nhận diện giọng nói</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Nền tảng Web</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Cập nhật real-time</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Auto-scaling</span></li>
                  </ul>
                  <a class="btn-action btn-alt" href="#">Blog công nghệ</a>
                </div>
              </div>
            </div>
            <div class="f-image">
              <img class="img-fluid" src="<%= image_path("thisisengineering-raeng-64YrPKiguAE-unsplash.jpg") %>" height="300" alt="Feature">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pricing Section -->
    <div id="pricing" class="yd_prc2">
      <div class="container-s">
        <div class="pricing-intro">
          <h1>Giá cước linh hoạt</h1>
          <p>
            Gói cước chúng tôi được thiết kế đa dạng để giúp bạn bắt đầu co giãn
            chi phí linh hoạt với nguồn lực sẵn có
          </p>
        </div>
        <div class="yd_flx2">
          <div class="flx_1">
            <div class="split_text">
              <div class="split_text_inner">
                <h2>Cuộc gọi tự đông</h2>
                <span style="text-decoration: line-through; margin-right: 8px;">649</span>
                <span>599 đ</span>
                <div class="sub_span">/ phút</div>
                <ul class="prc_features">
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi điện Marketing</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Miễn phí cước viễn thông</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi ~300 khách hàng 1 giờ</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Hỗ trợ triển khai</span></li>
                </ul>
                <a class="btn-action" href="#">Lựa Chọn</a>
              </div>
            </div>
          </div>
          <div class="flx_2">
            <div class="split_text">
              <div class="split_text_inner">
                <h2>Cuộc gọi tự động thông minh</h2>
                <span style="text-decoration: line-through; margin-right: 8px;">1099</span>
                <span>999 đ</span>
                <div class="sub_span">/ phút</div>
                <ul class="prc_features">
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi điện Marketing</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Thu thập thông tin bằng nhận diện giọng nói</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Trình soạn kịch bản</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tích hợp CRM</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Miễn phí cước viễn thông</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi ~300 khách hàng 1 giờ</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Xử lí 10 cuộc gọi 1 lúc</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Hỗ trợ triển khai</span></li>
                </ul>
                <a class="btn-action btn-alt" href="#">Lựa chọn tốt nhất</a>
              </div>
            </div>
          </div>
        </div>
        <div class="yd_flx2 mt-4">
          <div class="flx_2">
            <div class="split_text">
              <div class="split_text_inner">
                <h2>Tổng đài tự động</h2>
                <span style="text-decoration: line-through; margin-right: 8px;">1429</span>
                <span>1299 đ</span>
                <div class="sub_span">/ phút</div>
                <ul class="prc_features">
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi điện Marketing</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tổng đài thông minh</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Trình soạn kịch bản</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tích hợp CRM</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Miễn phí cước viễn thông</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi ~300 khách hàng 1 giờ</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Xử lí 10 cuộc gọi 1 lúc</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Hỗ trợ triển khai</span></li>
                </ul>
                <a class="btn-action btn-alt" href="#">Lựa chọn tốt nhất</a>
              </div>
            </div>
          </div>
          <div class="flx_1">
            <div class="split_text">
              <div class="split_text_inner">
                <h2>Tư vấn giải pháp riêng</h2>
                <span>Vui lòng liên hệ</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Call to action -->
    <div class="yd_cta_box">
      <div class="containe">
        <div class="cta_box">
          <div class="cta_box_inner">
            <div class="col-sm-12 col-md-12">
              <h4>Liên hệ tư vấn giải pháp</h4>
              <h2>Hãy giúp chúng tôi hiểu bạn. Thành công của bạn là động lực với chúng tôi.</h2>
              <a class="btn-action btn-alt" href="#">Liên hệ</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row text-center">
          <div class="footer-logo text-center w-100">
            <img id="navbar-logo" class="w-100 img-fluid" style="max-width: 160px" src="<%= image_path("ucall_logo_white.png") %>"/>
          </div>
        </div>
        <!-- Scroll To Top -->
        <a id="back-top" class="back-to-top js-scroll-trigger" href="#main"></a>
        <!-- Scroll To Top Ends-->
      </div>
    </div>

  </div> <!-- Main -->
</div>