<div class="wrapper">
  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-md navbar-light bg-light nav-white fixed-top">
    <div class="container container-m">
      <a class="navbar-brand" href="#">
        <img id="navbar-logo" class="img-fluid" style="max-width: 160px" src="<%= image_path('ucall_logo_white.png') %>"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#main">Sản phẩm</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Tính năng</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#pricing">Giá</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#reviews">Đánh giá</a></li>
          <li class="nav-item"><a class="btn-cta nav-link js-scroll-trigger" href="<%= @app_link %>">Truy cập hệ thống</a></li>
        </ul>
      </div>
    </div>
  </nav><!-- Navbar End -->


  <div id="main" class="main">
    <div class="hero2">
      <div class="container-m">
        <div class="hero-inner yd_flx2">
          <div class="hero-content flx_1">
            <div class="hero-content-inner">
              <h2>Nền Tảng Callbot Chăm Sóc Khách Hàng Dành Cho Doanh Nghiệp</h2>
              <h4>Giải pháp toàn diện giúp doanh nghiệp của bạn chăm sóc khách hàng 24/7 <span class="text-white">đầu tiên</span> tại Việt Nam</h4>
              <a class="btn-action btn-alt mr-2" href="<%= @app_link %>">Thử ngay</a>
              <a class="btn-action btn-alt" style="border: 0px!important; background: white" href="mailto:hoangminhtam.work@gmail.com">Liên hệ tư vấn</a>
            </div>
          </div>
          <div class="hero-form flx_2">
            <%= simple_form_for 'call_request', url: redirect_demo_path, html: { id: 'contactForm', class: "shake"} do |f| %>
              <div class="row">
                <div class="form-group col-sm-12">
                  <h4 class="font-weight-bold">Trải nghiệm cuộc gọi mẫu</h4>
                  <p class="text-dark">Hãy nhập số điện thoại của bạn và chúng tôi sẽ gọi điện. Cuộc gọi này hoàn toàn miễn phí</p>
                </div>
                <div class="form-group col-sm-12">
                  <label for="name" class="h4">Tên của bạn</label>
                  <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
                </div>
                <div class="col-sm-12">
                  <label for="name" class="h4">Xưng danh</label><br />
                  <%= f.input :pronoun, as: :radio_buttons, label: false, collection: ['Anh', 'Chị'],:input_html => {style:'display:block; margin-right: 32px', class: "response-project"} %>
                </div>
                <div class="form-group col-sm-12">
                  <label for="phone" class="h4">Số điện thoại</label>
                  <%= f.input :phone_number, label: false, :input_html => {class: "form-control"} %>
                </div>
              </div>
              <%= f.button :submit, "Gọi điện", :class => 'btn btn-action text-white rounded' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <!-- Features Section -->
    <div id="features" class="flex-split">
      <div class="container-s">
        <div class="flex-intro align-center wow fadeIn">
          <h2>uCall mang lại cho doanh nghiệp</h2>
          <p>Chúng tôi thiết kế những công cụ đơn giản, linh hoạt và mạnh mẽ. Bạn có thể dựng tổng đài cho công việc kinh doanh chỉ mất chưa đầy 10 phút.</p>
        </div>
        <div class="flex-inner align-center">
          <div class="f-image wow">
            <img class="img-fluid" src="<%= image_path("screenshot_1.png") %>" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <div class="tld">
                <div class="tld-text">
                  <h6>1</h6>
                </div>
              </div>
              <h2>Tự động chăm sóc khách hàng của bạn mọi lúc mọi nơi</h2>
              <p>
                Hệ thống của chúng tôi giúp doanh nghiệp của bạn chuyển đổi tự động hóa những quy trình bán hàng,
                phục vụ khách hàng 24/7 bằng giọng nói tự nhiên nhất.
                Mang lại hiệu quả tốt hơn, <span class="font-weight-bold">không giới hạn</span> số cuộc gọi nhận, thực hiện mỗi ngày,
                tiết kiệm tới <span class="font-weight-bold">80%</span> chi phí của doanh nghiệp.
              </p>
            </div>
          </div>
        </div>

        <div class="flex-inner flex-inverted align-center">
          <div class="f-image f-image-inverted">
            <img class="img-fluid" src="<%= image_path("screenshot_2.png") %>" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <div class="tld tld2">
                <div class="tld-text">
                  <h6>2</h6>
                </div>
              </div>
              <h2>Phân tích, vẽ chân dung khách hàng một cách chân thực</h2>
              <p>
                Bằng những dữ liệu thu thập được, chúng tôi giúp doanh nghiệp xây dựng cái nhìn sâu sắc (insight),
                vẽ chân dung khách hàng chân thực nhất, có thể giúp bạn Nâng cao 30% doanh số, Tăng 40 % tỷ lệ khách hàng quay lại.
              </p>
            </div>
          </div>
        </div>

        <div class="flex-inner align-center">
          <div class="f-image wow">
            <img class="img-fluid" src="<%= image_path("screenshot_3.png") %>" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <div class="tld">
                <div class="tld-text">
                  <h6>3</h6>
                </div>
              </div>
              <h2>Tích hợp nhanh chóng, liền mạch</h2>
              <p>Giải pháp của chúng tôi có khả năng tích hợp với những hệ thống lõi của doanh nghiệp: CRM, ERP, giúp cải thiện năng suất làm việc, sự hài lòng của khách hàng.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- YD Custom Feature Section -->
    <div class="yd_ft_cst ft_cst2">
      <div class="container">
        <div class="row">
          <div class="flex-inner">
            <div class="f-image">
              <img class="img-fluid" src="<%= image_path("magnet-me-315vPGsAFUk-unsplash.jpg") %>" alt="Feature">
            </div>
            <div class="f-text">
              <div class="split_text">
                <div class="split_text_inner">
                  <h1>Tính năng chính</h1>
                  <h2>Tổng đài thông minh</h2>
                  <h2>Quản lý cuộc gọi</h2>
                  <h2>Tích hợp CRM</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- YD Flex Single Feature Section -->
    <div class="ft_single">
      <div class="container">
        <div class="yd_flex">
          <div class="yd_flex_1">
            <div class="flex_content">
              <h2>Ứng dụng</h2>
              <p>Với công cụ xây dựng kịch bản thông minh, nền tảng uCall sẵn sàng cho mọi tình huống đa dạng nhất của khách hàng</p>
              <a class="btn-action btn-alt" href="#">Tìm hiểu</a>
            </div>
          </div>
          <div class="yd_flex_2">
            <div class="flex_main">
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("c.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Tài chính</h4>
                  <p class="d-none d-md-block">Gọi điện nhắc nợ tín dụng cho khách hàng</p>
                </div>
              </div>
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("b.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Giáo dục</h4>
                  <p class="d-none d-md-block">Tổng đài giải đáp thắc mắc tự động cho phụ huynh</p>
                </div>
              </div>
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("g.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Logistic</h4>
                  <p class="d-none d-md-block">Gọi điện xác nhận đơn hàng, giờ giao hàng,...</p>
                </div>
              </div>
              <div class="flex_sub">
                <div class="sub_image">
                  <img src="<%= image_path("e.png") %>" width="60" alt="Icon">
                </div>
                <div class="sub_text">
                  <h4>Marketing</h4>
                  <p class="d-none d-md-block">Gọi điện tiếp thị sản phẩm</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- YD Custom Feature Section -->
    <div class="yd_ft_cst">
      <div class="container">
        <div class="row">
          <div class="flex-inner">
            <div class="f-text">
              <div class="split_text">
                <div class="split_text_inner">
                  <h4>Công nghệ lõi</h4>
                  <h2>AI as a Service</h2>
                  <p>Chúng tôi lấy công nghệ AI làm trọng tâm của sản phẩm, kết hợp với nền tảng Web đem đến một ứng dụng tiếp cận dễ dàng nhất với khách hàng
                  </p>
                  <ul>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tổng hợp giọng nói</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Nhận diện giọng nói</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Nền tảng Web</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Cập nhật real-time</span></li>
                    <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Auto-scaling</span></li>
                  </ul>
                  <a class="btn-action btn-alt" href="#">Blog công nghệ</a>
                </div>
              </div>
            </div>
            <div class="f-image">
              <img class="img-fluid" src="<%= image_path("thisisengineering-raeng-64YrPKiguAE-unsplash.jpg") %>" height="300" alt="Feature">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pricing Section -->
    <div id="pricing" class="yd_prc2">
      <div class="container-s">
        <div class="pricing-intro">
          <h1>Giá cước linh hoạt</h1>
          <p>
            Gói cước chúng tôi được thiết kế đa dạng để giúp bạn bắt đầu co giãn
            chi phí linh hoạt với nguồn lực sẵn có
          </p>
        </div>
        <div class="yd_flx2">
          <div class="flx_1">
            <div class="split_text">
              <div class="split_text_inner">
                <h2>Chi phí cài đặt</h2>
                <span>500,000 VNĐ</span>
                <ul class="prc_features">
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>1 đầu số, 2 kênh gọi</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>100,000 VNĐ cước sử dụng uCall</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tư vấn lập kịch bản</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Hỗ trợ 24/7</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Mua thêm số : 25,000 - 160,000 VNĐ / số</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flx_2">
            <div class="split_text">
              <div class="split_text_inner">
                <h2>Phí sử dụng uCall</h2>
                <span>799 đ</span>
                <div class="sub_span">/ phút</div>
                <ul class="prc_features">
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Gọi điện tự động</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Thu thập thông tin bằng nhận diện giọng nói</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Trình soạn kịch bản</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Tích hợp CRM</span></li>
                  <li><img src="<%= image_path("tick.png") %>" width="14" alt="Tick"> <span>Cước viễn thông theo nhà mạng lựa chọn</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Call to action -->
    <div class="yd_cta_box">
      <div class="containe">
        <div class="cta_box">
          <div class="cta_box_inner">
            <div class="col-sm-12 col-md-12">
              <h4>Liên hệ tư vấn giải pháp</h4>
              <h2>Hãy giúp chúng tôi hiểu bạn. Thành công của bạn là động lực với chúng tôi.</h2>
              <a class="btn-action btn-alt" href="mailto:etronai.team@gmail.com">etronai.team@gmail.com</a><br/>
              <a class="btn-action btn-alt" href="tel:84327445877">0327335877</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row text-center">
          <div class="footer-logo text-center w-100">
            <img id="navbar-logo" class="w-100 img-fluid" style="max-width: 160px" src="<%= image_path("ucall_logo_white.png") %>"/>
          </div>
        </div>
        <!-- Scroll To Top -->
        <a id="back-top" class="back-to-top js-scroll-trigger" href="#main"></a>
        <!-- Scroll To Top Ends-->
      </div>
    </div>

  </div> <!-- Main -->
</div>